.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9da3b1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Flex {
  display: flex;
   flex-wrap: wrap;
   justify-content: center;
  gap: 20px;
  /* padding: 40px; */
  align-items: center;
  box-shadow:  2px 2px 2px black ;
 

}
.btn {
  background-color: #390810;
margin-bottom: 20px;
cursor: pointer;
box-shadow:  2px 2px 2px black ;

}
h2 {
  padding: 10px;
  color: #390810;
 
  ;
}
img {
  margin-top: 20px;
  border-radius: 20px;
  box-shadow:  5px 5px 5px black ;
  cursor: pointer;
  transition: transform .5s ease-in-out;
}
img:hover {
  transform: rotate(360deg);
}
/*products*/
